.bordertest
 {
     border:5px solid black;
 }
 .colormenu
 {
     background-color: #ff6666;
     border-radius:14px
 }
 .colormenu :hover{
    color:black;
 }
 .textcolorwhite{
    color:white;
 }
 .textcolorblack{
     color:black;
 }
 .fontuse{
    font-family:Poppins, sans-serif, Arial, Helvetica;
}
.fontweightheavy{
    font-weight:700;
}
.fontweightmedium{
    font-weight: 650
}
.fontweightbold{
    font-weight:bold;
}
.fontweightnormal{
   font-weight:normal;
}
.fontsizesmall{
    font-size:15px;
}
.fontsizeverybig{
   font-size:55px;
}
.fontsizebig{
    font-size:25px;
}
.fontsizemedium{
    font-size:17px;
}
.fontsizeverysmall{
    font-size:13px;
}
.dropdown{
    background-color: #fdcb6e;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 12px;
    text-align:center;
}
.dropdown-content {
    /*display: none;*/
   /* position: absolute;*/
    background-color: #fdcb6e;
    /*min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 12px;
    text-align:center;
}
.dropdown-content option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown-content a:hover {background-color: orange;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: orange;}
.dropbtn {
    background-color: #FAFAD2;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    width:50px;
    font-weight: 700;
}
.Buybtn {
    background-color: #85144b;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    width:150px;
    font-weight: 700;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.Buybtn:hover{
    background:#FF4136;
}
.Buybtn:active{
    background:#FF4136;
}
.dropbtn:hover{
    background:#00cec9;
}
.dropbtn:active{
    background:#00cec9;
}
body{
    background-image: url("assets/backgroundimage.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: repeat;
    position: relative;
}
.falsespace{
    height:88px;
}
.card{
    border-radius:12px;
    left:1%;
    border:1.5px solid;
    background:#DFDEEE;
}
.card-text{
    font-weight: bold;
}
.btn{
    position:relative;
    bottom:1%;
}
.cardbody{
    /*background:#b2bec3;*/
    height:520px;
}
.boxed{
    background:#b2bec3;
    /*border:2px solid;*/
    height:40px;
    width:60px;
    text-align: center;
}
.inlineElement{
    display:inline-block;
}
